@model LoginViewModel

@{ 
    ViewBag.Title = "EMS - Login";
}

<h1>User Login</h1>

<div class="row">
    <div class="col-md-12">
        <form method="post">

            <div class="mb-3">
                <label asp-for="Email" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-12">
                    <input asp-for="Email" class="form-control" placeholder="Email" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>

            <div class="mb-3">
                <label asp-for="Password" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-12">
                    <input asp-for="Password" class="form-control" placeholder="Password" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
            </div>

            <div class="mb-4">
                <div class="form-check">
                    <input asp-for="RememberMe" class="form-check-input" type="checkbox" value="" id="CheckRememberMe">
                    <label class="form-check-label" for="CheckRememberMe">
                        @Html.DisplayNameFor(m => m.RememberMe)
                    </label>
                </div>
            </div>

            <div class="mb-3">
                <button type="submit" class="btn btn-primary">Login</button>
            </div>

        </form>
    </div>
</div>