@model EmployeeManagement.Presentation.Models.Employees.EmployeeViewModel

@{
    ViewBag.Title = "EMS - Create Employee";
}

<form asp-controller="home" asp-action="create" method="post">
    <div class="mb-3">
        <label asp-for="Employee.Name" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-12">
            <input asp-for="Employee.Name" class="form-control" placeholder="Name"/>
            <span asp-validation-for="Employee.Name" class="text-danger"></span>
        </div>
    </div>
    <div class="mb-3">
        <label asp-for="Employee.Email" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-12">
            <input asp-for="Employee.Email" class="form-control" placeholder="Email" />
            <span asp-validation-for="Employee.Email" class="text-danger"></span>
        </div>  
    </div>
    <div class="mb-3">
        <label asp-for="Employee.Department" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-12">
            <select class="form-select" asp-for="Employee.Department" asp-items="Html.GetEnumSelectList<EmployeeManagement.Domain.Models.Department>()">
                <option value="">Please select</option>
            </select>
            <span asp-validation-for="Employee.Department" class="text-danger"></span>
        </div>
    </div>
    <div>
        <button type="submit" class="btn btn-primary">Create</button>
    </div>
</form>