@model EmployeeManagement.Presentation.Models.Employees.EmployeeViewModel

@{
    ViewBag.Title = "Employees Details";
}

<div class="row justify-content-center">
    <div class="col-md-3">
        <div class="card my-1">
            <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">

                <img class="img-fluid" src="~/images/noimage.png" asp-append-version="true" alt="Photo of the person" />

                <div class="card-body">
                    <h5 class="card-title">@Model.Employee.Name</h5>
                    <hr />
                    <p class="card-text">
                        ID: @Model.Employee.Id
                        <br />
                        Email: @Model.Employee.Email
                        <br />
                        Department: @Model.Employee.Department
                    </p>
                </div>

                <div class="card-footer text-center">
                    <a asp-controller="home" asp-action="index" class="btn btn-primary" title="back">
                        <i class="fa fa-backward"></i>
                    </a>
                    <a href="#" class="btn btn-primary" title="edit">
                        <i class="fa fa-edit"></i>
                    </a>
                    <a href="#" class="btn btn-danger" title="delete">
                        <i class="fa fa-trash"></i>
                    </a>
                </div>

            </div>
        </div>
    </div>
</div>