@model EmployeeManagement.Models.Employee

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>@ViewData["PageTile"]</title>
</head>
<body>
    <h3>@ViewData["PageTitle"]</h3>

    <div>
        Name: @Model.Name
    </div>

    <div>
        Email: @Model.Email
    </div>

</body>
</html>