@model IEnumerable<EmployeeManagement.Models.Employee>

@{ 
    ViewBag.Title = "Employees List";
}

<div class="row">
    @foreach (var employee in Model)
    {
        <div class="col-md-3">
            <div class="card mx-1 my-3">
                <div class="card-header">
                    <h5 class="card-title">@employee.Name</h5>
                </div>

                <img class="card-img-top" src="~/images/noimage.png" />

                <div class="card-body">
                    <p class="card-text">Email: @employee.Email</p>
                    <p class="card-text">Department: @employee.Department</p>
                </div>

                <div class="card-footer text-center">
                    <a href="#" class="btn btn-primary">View</a>
                    <a href="#" class="btn btn-primary">Edit</a>
                    <a href="#" class="btn btn-danger">Delete</a>
                </div>
            </div>
        </div>
    }
</div>
