@model CreateRoleViewModel

@{
    ViewBag.Title = "EMS - Create Role";
}

<h1>Create New Role</h1>

<div class="row">
    <div class="col-md-12">
        <form method="post">

            <div class="mb-3">
                <label asp-for="RoleName" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-12">
                    <input asp-for="RoleName" class="form-control" placeholder="Your Role" />
                    <span asp-validation-for="RoleName" class="text-danger"></span>
                </div>
            </div>

            <div class="mb-3">
                <button type="submit" class="btn btn-primary">Create Role</button>
            </div>

        </form>
    </div>
</div>