@model IEnumerable<UserRoleViewModal>

<form class="mt-3" method="post">

    <div class="card">
        <div class="card-header">
            <h3>Add or Remove Users from this Role</h3>
        </div>
        <div class="card-body">
            @foreach (var user in Model)
            {
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="">
                    <label class="form-check-label">
                        @user.UserName
                    </label>
                </div>
            }
        </div>
        <div class="card-footer">
            <a asp-controller="Administration" asp-action="EditUsersInRole" class="btn btn-primary">Update</a>
            <a asp-controller="Administration" asp-action="ListRoles" class="btn btn-primary">Cancel</a>
        </div>
    </div>

</form>