@model List<UserRolesViewModel>

@{ 
    var userId = ViewBag.userId;
}

<form method="post">
    <div class="card">
        <div class="card-header">
            <h2>Manage User Roles</h2>
        </div>
        <div class="card-body">

        </div>
        <div class="card-footer">
            <input type="submit" class="btn btn-primary" value="Update"/>
            <a asp-route="EditUser" asp-route-id="@userId" class="btn btn-primary">Cancel</a>
        </div>
    </div>
</form>